:root {
  --color-primary-dark: #5175ff;
  --color-primary-light: #829cff;
  --color-default-dark: #333950;
  --color-default-light: #747b95;
  --color-background-dark: #25293a;
  --color-background-light: #fafafa;
  --color-error: #f05b5b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  background: var(--color-background-light);
  color: var(--color-default-light);
}

h1, h2 {
  color: var(--color-default-dark);
}