footer {
  color: white;
  background: url("../assets/home/bg-pattern-footer.svg") no-repeat, var(--color-background-dark);
  background-position-x: center;
  background-position-y: 9.2em;
  background-size: 75em;
  margin-top: -50em;
  padding: 56em 1.5em 6em;

  .coming-at {
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    letter-spacing: 0.25em;

    span {
      color: var(--color-primary-dark);
    }
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 0.8125em;
    max-width: 20.5em;
    margin-top: 1.125em;
    margin-inline: auto;
  }

  li {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.75);
    background: var(--color-default-dark);
    border-radius: 0.25em;
    padding: 0.625em 1em;
    flex: 1;

    strong {
      display: block;
      font-size: 2rem;
      line-height: 1.5;
      color: white;
    }
  }

  .button {
    margin-top: 2.5em;
  }
}
