@use "resolutions" as *;

.hero {
  background: url("../assets/home/bg-pattern-header.svg") no-repeat;
  background-position-x: center;
  background-position-y: -10.625em;
  background-size: 28.675em;

  @include for-tablet {
    background-position-x: calc(50% + 21.2em);
    background-position-y: -10.25em;
    background-size: 41.625em;
    text-align: left;
  }

  @include for-desktop {
    background-position-x: calc(50% + 31.2em);
    background-position-y: -26.1875em;
    background-size: 70.875em;
  }

  .container {
    max-width: 20.5em;
    padding-top: 2.875em;
    display: grid;

    @include for-tablet {
      max-width: 43em;
      padding-top: 4.5em;
      grid-template:
              "logo logo" auto
              "text image" auto
              / 1fr 1fr;
      place-items: center right;
    }

    @include for-desktop {
      max-width: 69.375em;
      padding-top: 5.06em;
    }
  }

  img {
    @include for-mobile-only {
      margin-inline: auto;
    }
  }

  .logo {
    margin-bottom: 5em;

    @include for-tablet {
      margin-bottom: 6.5em;
      grid-area: logo;
      justify-self: left;
    }
  }

  .illustration {
    width: 10.68em;

    @include for-tablet {
      width: 19.75em;
      margin-right: -1em;
      margin-bottom: -3em;
      grid-area: image;
    }

    @include for-desktop {
      width: 33.4em;
      margin-right: -1.6em;
      margin-bottom: -5.1em;
    }
  }

  .hero-text > * {
    @include for-mobile-only {
      margin-inline: auto;
    }
  }

  h1, p {
    @include for-mobile-only {
      max-width: 21.4rem;
    }
  }

  h1 {
    color: var(--color-default-dark);

    @include for-mobile-only {
      margin-top: 1em;
    }

    @include for-desktop {
      font-size: 3.5rem;
      line-height: 1.143;
    }
  }

  p {
    line-height: 1.625;
    margin-top: 1.5em;

    @include for-tablet {
      padding-right: 0.125em;
    }

    @include for-desktop {
      font-size: 1.125rem;
      line-height: 1.56;
      padding-right: 1em;
    }
  }

  .button {
    margin-top: 1.5em;
    box-shadow: 0 1.5em 1.5em -0.625em rgba(63, 91, 194, 24.72%);

    @include for-desktop {
      margin-top: 2em;
    }
  }
}