$background-header: url("../assets/home/bg-pattern-header.svg");
$background-pricing: url("../assets/home/bg-pattern-pricing.svg");
$background-footer: url("../assets/home/bg-pattern-footer.svg");

$icon-cross: url("../assets/sign-up/icon-cross.svg");
$icon-arrow-down: url("../assets/sign-up/icon-arrow-down.svg");
$icon-check: url("../assets/sign-up/icon-check.svg");
