@use "../color";
@use "../countdown";
@use "../resolutions" as *;

main {
  @include for-mobile-only {
    background: url("../../assets/home/bg-pattern-header.svg") no-repeat;
    background-position-x: center;
    background-position-y: -10.625em;
    background-size: 28.675em;
  }

  .container {
    padding-top: 2.875em;
    display: grid;

    @include for-tablet {
      padding-top: 4.5em;
    }

    @include for-desktop {
      padding-top: 5.0625em;
      text-align: left;
      display: grid;
      grid-template:
          "logo ." auto
          "hero form" auto
          "countdown form" auto
          / 33.75em auto;
      column-gap: 7.8125em;
    }
  }

  .logo {
    margin-inline: auto;

    @include for-tablet {
      margin-left: 2.5em;
    }

    @include for-desktop {
      margin-inline: 0;
      grid-area: logo;
      margin-bottom: 7.875em;
    }
  }

  .hero {
    margin-inline: auto;
    max-width: 21.4rem;

    @include for-tablet {
      max-width: 35em;
    }

    @include for-desktop {
      grid-area: hero;
    }

    h1 {
      margin-top: 2.875em;

      @include for-tablet {
        margin-top: 2.6em;
      }

      @include for-desktop {
        font-size: 3.5rem;
        line-height: 1.42;
        margin: 0;
      }
    }

    p {
      line-height: 1.625;
      margin-top: 1em;

      @include for-tablet {
        margin-top: 1.5em;
      }

      @include for-desktop {
        font-size: 1.125rem;
        line-height: 1.56;
        margin-top: 1.33em;
      }
    }
  }

  .countdown {
    margin-top: 4em;

    @include for-tablet {
      margin-top: 2.5em;
    }

    @include for-desktop {
      grid-area: countdown;
    }
  }
}
