@use "../color";
@use "../image";
@use "../resolutions" as *;

.plans {
  margin-top: 6.25em;
  display: grid;
  gap: 2em;

  @include for-tablet {
    margin-top: 8.75em;
    gap: 1.5em;
  }

  @include for-desktop {
    margin-top: 11.25em;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875em;
  }

  .plan {
    display: grid;
    padding-block: 2.5em;
    border-radius: 0.8125em;
    box-shadow: 0 3.125em 3.125em -1.56em rgba(75, 92, 154, 24.72%);

    @include for-mobile-only {
      width: 87.5%;
      margin-inline: auto;
    }

    @include for-tablet-only {
      grid-template-columns: 58% auto;
      grid-template-rows: repeat(5, auto);
      grid-auto-flow: column;
      width: 43em;
      margin-inline: auto;
      padding: 3em;
      text-align: left;
    }
  }

  h2 {
    margin-top: 0.714em;

    @include for-tablet-only {
      margin-top: 0.285em;
    }
  }

  h3 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .plan-description {
    margin-top: 0.5em;

    @include for-tablet-only {
      margin-top: 0.25em;
    }
  }

  ul {
    margin-top: 3.5em;

    @include for-tablet-only {
      margin-top: 1em;
      grid-area: 2 / 2 / -1 / -1;
      align-self: start;
    }
  }

  li + * {
    margin-top: 1em;
  }

  .button {
    margin-top: 2em;
    margin-inline: auto;

    @include for-tablet-only {
      margin-top: 1.5em;
      margin-inline: 0;
    }
  }

  .basic-plan,
  .ultimate-plan {
    background: white;
    color: color.$default-dark;

    li {
      color: color.$default-light;
    }
  }

  .pro-plan {
    background: image.$background-pricing no-repeat, color.$primary-dark;
    background-position-x: center;
    background-position-y: -23.6em;
    color: white;

    @include for-tablet-only {
      background-position-x: -20em;
      background-position-y: center;
    }

    li {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}
